* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    /* Добавляем фоновое изображение */
    background-image: url('background.jpg');
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-attachment: fixed;
    background-position: center top; /* Центрирование изображения */
    background-size: cover; /* Растягиваем изображение на весь экран */
}

}

.main-header {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
}

.about-me .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    color: blue;
}

.profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 30px;
}

.description {
    flex-grow: 1;
}

.description a {
    color: blue;
    text-decoration: none;
}

.services ul {
    list-style-type: square;
    padding-left: 40px;
}

footer {
    background-color: lightgray;
    padding: 10px;
}

footer address {
    line-height: 1.6;
}
