* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.main-header {
    text-align: center;
    margin-top: 150px; 
    font-size: 36px; 
    color: white; 
}

.about-me .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 10px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
}

.profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%; 
    margin-right: 30px;
}

.description {
    flex-grow: 1;
}

.description h2 {
    margin-bottom: 10px;
}

.description p {
    margin-bottom: 20px;
}

.description a {
    color: #007bff; 
    text-decoration: none;
}

.services {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.services h2 {
    text-align: center;
    margin-bottom: 20px;
}

.services ul {
    list-style-type: square;
    padding-left: 40px;
}

footer#contact {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    text-align: center;
}

footer address {
    line-height: 1.6;
}
